{
  "parser": "",
  "extends": [
    "next",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:prettier/react"
    // "plugin:prettier/@typescript-eslint"
  ],
  "plugins": ["react", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "React": "writable"
  }
}
